@import "_variables";

*{
    box-sizing: border-box;
  }
  
  @keyframes ul-arrow-animation {
    0% {
      -webkit-transform: translateX(0);
    }
  
    100% {
      -webkit-transform: translateX(-0.4em);
    }
  }
  :root{
    --navheight:100px;
      --space: 2rem;
    --space-xs: calc(var(--space) / 3);
    --space-sm: calc(var(--space) / 2);
    --space-md: calc(var(--space) * 2);
  }
  
  body {
    background-color: #FFF;
      color: #777;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      line-height: 26px;
      margin: 0;
  }
  h1,h2,h3,h4,h5{
    color: #212529;
    letter-spacing: -0.05em;
    -webkit-font-smoothing: antialiased;
  }
  h1 {
      font-size: 2.6em;
      line-height: 44px;
    &.h1-text{
      font-size: 1em;
  }
  }
  
  h2 {
      font-size: 2.2em;
      font-weight: 300;
      line-height: 42px;
  }
  
  h3 {
      font-size: 1.8em;
      font-weight: 400;
      line-height: 24px;
  }
  
  h4 {
      font-size: 1.4em;
      font-weight: 600;
      line-height: 27px;
  }
  
  h5 {
      font-size: 1em;
      font-weight: 600;
      line-height: 18px;
  }
  
  h6 {
      color: #333;
      font-size: 1em;
      font-weight: 400;
      line-height: 18px;
  }
  
    .yk-container {
      width: 100%;
  
      .navbar-container {
        @include flexible-row-space-around;
        transition: all 0.5s;
        width: 100%;
        position: fixed;
        font-weight: 600;
        z-index: 10;
        background: none;
        padding: 30px;
  
        .nav-img {
          align-self: flex-start;
          width: 20%;
  
          img {
            height: 6vh;
          }
        }
  
        .nav-content-right {
          @include flexible-row-center;
          width: 50%;
  
          a {
            color: white;
            text-decoration: none;
            font-weight: 600;
            font-size: 0.8rem;
  
            &:hover {
              color: $White-color;
            }
          }
  
          .nav-link-header {
            padding: 10px;
          }
  
          .drop-down {
            padding: 10px;
  
            .drop-list {
              display: none;
              position: absolute;
              list-style: none;
              margin: 0;
              padding: 0;
              top: 70%;
  
              li {
                width: 100%;
                padding: 10px;
                border-bottom: 1px outset grey;
                background-color: $dropDownBgColor;
                cursor: pointer;
  
  
                &:last-child {
                  border: none;
                }
  
                &:hover {
                  background-color: $dropDownHoverBg;
                  opacity: 0.9;
                }
  
                &:hover a {
                  color: white;
                }
  
                a {
                  color: $White-color;
                  width: 100%;
                  text-decoration: none;
                }
              }
            }
          }
  
          .drop-one {
            &:hover .drop-list {
              display: block;
            }
          }
  
          .drop-two {
            &:hover .drop-list {
              display: block;
            }
          }
  
          .drop-three {
            &:hover .drop-list {
              display: block;
            }
          }
        }
      }
    }
  
    .sidebar{
      --offset: var(--space);
      flex-grow: 1;
      flex-basis: 300px;
      align-self: start;
      position: sticky;
      top: var(--navheight);
    }
  
  aside { 
      ul.nav-list {
      >li>a {
        color: #666;
        font-size: .9em;
        padding: 8px 0px 8px 22px;
      }
    }
  }
  
  
  .page-header {
    background-color: #212529;
    margin: 0 0 35px 0;
    padding: 30px 0;
    position: relative;
    text-align: left;
  
    h1 {
      color: #fff;
      display: inline-block;
      font-size: 30px;
      line-height: 1;
      margin: 0;
      padding: 0;
      font-weight: 400;
      position: relative;
      top: 1px;
    }
  }
  
  .nav>li>a {
  
    &:hover,
    &:focus {
      background: transparent;
    }
  }
  
  /*--------  Nav List -------- */
  
  ul {
    &.nav-list {
      li {
        margin: 0;
        padding: 0;
        display: block;
        position: relative;
  
  
        a {
          transition: 0.1s;
          border-bottom: 1px solid rgba(0, 0, 0, 0.06);
          padding: 8px 0 8px 22px;
          display: block;
          color: #666;
          font-size: .9em;
          text-decoration: none;
          line-height: 20px;
  
          i {
            position: relative;
            top: -1px;
            font-size: 8px;
            font-size: 0.5rem;
            opacity: 0.8;
            right: 8px;
          }
  
          &:hover {
            text-decoration: none;
  
            i[class*="fa-chevron"] {
              animation: ul-arrow-animation 0.25s infinite alternate ease-in-out;
            }
          }
        }
  
        >a.active {
          font-weight: bold;
        }
  
        ul {
          list-style: none;
          margin: 0 0 0 25px;
          padding: 0;
        }
  
        &:last-child a {
          border-bottom: 0;
        }
      }
    }
     
  }
  
  /*--------  PageHeader-Background -------- */
  
  .background{
    background-size: cover;
    padding: 150px 0px;
  }
  
  
  
  /*--------  Overlays -------- */
  
  .overlay {
      position: relative;
      /* Backward */
    .container{
      position: relative;
      z-index: 3;
      width: 100%;
    }
  }
  
  .overlay:before {
      content:' ';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      background: #212529;
      opacity: 0.8;
      pointer-events: none;
      transition: ease opacity 300ms 100ms;
  }
  
  
  /*-------- Breadcrumb -------- */
  
  .breadcrumbs {
    background: transparent;
    display: block;
    margin: 0;
    padding: 0;
  
    li {
      display: inline-block;
      color: #fff;
      text-transform: uppercase;
      font-size: .8em;
      &.active{
        a{
         opacity: 0.7;
        }
      }
  
      a {
        color: #fff;
        position: relative;
        margin: 10px;
        text-decoration: none;
      }
    }
  
    i {
      color: #fff;
    }
  }
  
  /* footer section start */
  .footer-container {
    @include flexible-column-center;
    background-color: $footer-bg-color;
    width: 100%;
    h1,h2,h3,h4,h5 {
      color: white;
    }
    /* information section start*/
    .information-section {
      @include flexible-row-space-around;
      padding: 20px;
      
      .footer-logo {
        @include flexible-column-center;
        width: 20%;
        height: 40vh;
        img {
          width: 70%;
        }
      }
      .about {
        width: 20%;
        height: 40vh;
        color: white;
        p {
          font-size: 0.8rem;
          line-height: 1.4rem;
        }
        a {
          font-size: 2rem;
          color: $White-color;
        }
      }
      .links {
        width: 20%;
        height: 40vh;
  
        ul {
          list-style-type: none;
          color: rgb(140, 140, 140);
          padding: 0;
          li {
            a {
              color: rgb(140, 140, 140);
              text-decoration: none;
              font-size: 0.8rem;
              line-height: 1.4rem;
              margin-left: 4px;
              transition: all 0.2s ease-in-out;
              &:hover {
                margin-left: 8px;
              }
            }
          }
        }
      }
      .contact {
        width: 20%;
        height: 40vh;
  
        h4 {
          margin: 0;
          color: rgb(140, 140, 140);
        }
        p {
          color: white;
          font-size: 0.8rem;
          line-height: 1.4rem;
        }
        a {
          color: white;
          font-size: 0.8rem;
          line-height: 1.4rem;
          text-decoration: none;
        }
      }
    }
    /* information section end*/
  
    /* footer sponsor section start*/
    .footer-sponsor-container {
      @include flexible-row-space-around;
      border-bottom: 1px solid rgb(99, 99, 99);
      align-self: center;
      width: 77%;
      height: 35vh;
      overflow: hidden; /* bu bölümde animasyon yapılacak muhtemel js kullanılcak */
      a {
        img {
          border-radius: 7px;
        }
      }
    }
  
    .down-footer {
      @include flexible-row-space;
      width: 80%;
      padding: 5px;
      a {
        width: 15%;
        height: 10vh;
        img {
          width: 100%;
        }
      }
      .copyright {
        small {
          color: rgb(99, 99, 99);
        }
      }
      .made-by {
        color: rgb(140, 140, 140);
        width: 22%;
        p {
          display: flex;
          justify-content: space-between;
          margin: 0;
          i {
            animation: iconsize 1s linear infinite;
            color: red;
          }
          @keyframes iconsize {
            /* burayı hallet */
            0% {
              font-size: large;
            }
            50% {
              font-size: medium;
            }
          }
  
          a {
            color: rgb(140, 140, 140);
            text-decoration: none;
            font-size: 0.8rem;
            width: 50%;
          }
        }
      }
    }
  
    /* footer sponsor section end*/
  }
  /* footer section end */
  
  