@import "_variables";
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $body-font-family;
}

html {
  .text-color-primary,
  .text-primary {
    color: $Purple-color;
  }
}

.homepage-container {
  width: 100%;
  .navbar-container {
    @include flexible-row-space-around;
    transition: all 0.5s;
    width: 100%;
    position: fixed;
    font-weight: 600;
    z-index: 10;
    background: none;
    padding: 30px;
    .nav-img {
      align-self: flex-start;
      width: 20%;
      img {
        height: 6vh;
      }
    }
    .nav-content-right {
      @include flexible-row-center;
      width: 50%;
      a {
        color: white;
        text-decoration: none;
        font-weight: 600;
        font-size: 0.8rem;
        &:hover {
          color: $White-color;
        }
      }
      .nav-link-header {
        padding: 10px;
      }
      .drop-down {
        padding: 10px;
        .media-drop {
          i {
            display: none;
          }
        }
        .drop-list {
          display: none;
          position: absolute;
          list-style: none;
          margin: 0;
          padding: 0;
          top: 70%;

          li {
            width: 100%;
            padding: 10px;
            border-bottom: 1px outset grey;
            background-color: $dropDownBgColor;
            &:last-child {
              border: none;
            }
            &:hover {
              background-color: $dropDownHoverBg;
              opacity: 0.9;
            }
            &:hover a {
              cursor: pointer;
              color: white;
            }
            a {
              color: $White-color;
              width: 100%;
              text-decoration: none;
            }
          }
        }
      }
      .drop-one {
        &:hover .drop-list {
          display: block;
        }
      }
      .drop-two {
        &:hover .drop-list {
          display: block;
        }
      }
      .drop-three {
        &:hover .drop-list {
          display: block;
        }
      }
    }
  }

  /* main section  start*/

  .main-container {
    .video-section {
      position: relative;
      width: 100%;
      height: 100vh;
      .video-content {
        position: relative;
        width: 100%;
        height: 100vh;
        object-fit: cover;
      }

      .video-filter {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        background-color: rgb(30, 30, 31);
        opacity: 0.7;
        z-index: 1;
      }

      .video-text-container {
        @include flexible-column-center;
        position: absolute;
        width: 100%;
        height: 114vh;
        top: 0;
        color: white;
        z-index: 2;
        .telconet-text {
          @include flexible-row-space-around;
          width: 18%;
          z-index: 5;
        }
        .topik-container {
          @include flexible-column-center;
          position: absolute;
          width: 100px;
          height: 100px;
          bottom: 150px;

          .topik-content {
            @include flexible-column-center;
            border: 1px solid white;
            position: relative;
            width: 25px;
            height: 40px;
            border-radius: 20px;
            .topik-control {
              position: absolute;
              border: 1px solid white;
              width: 5px;
              height: 10px;
              border-radius: 20px;
              top: 5px;
              animation: mouseMovie 2s infinite;
            }
            @keyframes mouseMovie {
              from {
                top: 3px;
                opacity: 1;
              }
              to {
                top: 15px;
                opacity: 0.8;
              }
              to {
                top: 35px;
                opacity: 0;
              }
            }
          }
        }
      }
    }

    /* Center page start */
    .center-page {
      .center-page-box {
        @include flexible-row-center;
        background-color: $center-page-bg;
        .center-page-text {
          width: 50%;
          padding: 20px;
        }
        .center-page-img {
          width: 50%;
          img {
            width: 100%;
          }
        }
      }
    }
    /* Center page end */

    /* sponsor section start */

    .sponsor-page-container {
      @include flexible-column-center;
      background-color: white;
      .sponsor-header {
        align-self: flex-start;
        width: 20%;
        margin-left: 10%;
        padding: 10px;
        color: $Purple-color;
        h1 {
          font-weight: 700;
          margin: 0;
        }
      }
      .sponsor-card-container {
        @include flexible-row-center;
        width: 80%;
        height: 90vh;
        .sponsor-card {
          border-radius: 10px;
          width: 20%;
          height: 55vh;
          text-align: center;
          border-bottom: 4px solid $Purple-color;
          box-shadow: 0px 0px 10px 1px rgb(216, 216, 216);
          margin: 10px;
          position: relative;
          overflow: hidden;
          .card-img {
            @include flexible-row-center;
            img {
              width: 100%;
              height: 25vh;
              object-fit: cover;
            }
          }

          .card-text {
            h3 {
              font-weight: 700;
              color: $Purple-color;
            }
            p {
              font-size: small;
              color: $White-color;
            }
            a {
              font-weight: 700;
            }
          }
        }

        /* Animation Section */
        .card-one {
          .card-img {
            animation: cardOne 4s linear infinite;
          }
          /* @keyframes cardOne {
            10%{
              left: 50px;
            }
            100%{
              left: 300px;
          } */
        }
      }
    }
    /* sponsor section end */

    /* new page section start */

    .news-page-container {
      background-color: $center-page-bg;
      .news-header-text {
        padding: 10px;
        width: 20%;
        margin-left: 10%;
        color: $Purple-color;

        h2 {
          margin: 0;
          font-weight: 800;
        }
      }

      .news-card-container {
        @include flexible-row-center;
        .new-card {
          @include flexible-column-space-around;
          width: 25%;
          height: 75vh;
          margin: 20px;
          text-align: start;
          color: $White-color;
          .news-card-img {
            img {
              width: 100%;
            }
          }
          .news-card-text {
            height: 50%;
            h3 {
              color: $Purple-color;
            }
          }
        }
      }
    }
  }

  /* new page section end */

  /* customer section start  */

  .customer-card {
    margin-bottom: 20px;
  }

  blockquote {
    border-left: 5px solid #eee;
    margin: 0 0 16px 0;
    margin: 0 0 1rem 0;
    padding: 8px 16px;
    padding: 0.5rem 1rem;
    font-size: 1em;
  }

  .customer-card {
    blockquote {
      background: #ccc;
      border-radius: 5px;
      border: 0;
      color: #666;
      font-family: "Montserrat", sans-serif;
      margin: 0;
      padding: 40px 64px 40px 72px;
      padding: 2.5rem 4rem 2.5rem 4.5rem;
      position: relative;

      &:before {
        left: 22px;
        top: 21px;
        color: #fff;
        content: "“";
        font-size: 85px;
        font-style: normal;
        line-height: 1;
        position: absolute;
      }

      p {
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-size: 1.2em;
      }
    }

    .customer-card-author {
      display: flex;
      margin: 12px 0 0 0;

      img {
        max-width: 25px;
      }

      strong {
        color: #111;
        display: block;
        margin-bottom: 2px;
        font-size: 16px;
        font-size: 1rem;
      }

      span {
        color: #666;
        display: block;
        font-size: 12.8px;
        font-size: 0.8rem;
        font-weight: 600;
      }

      p {
        color: #999;
        text-align: left;
        line-height: 1.2;
        margin-left: 9.6px;
        margin-left: 0.6rem;
      }
    }

    &.customer-card-style-4 {
      border-radius: 6px;
      padding: 8px;
      border-top: 1px solid #dfdfdf;
      border-bottom: 1px solid #dfdfdf;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);

      blockquote {
        background: transparent !important;
        border-radius: 4px;
        padding: 12px 30px;

        &:before {
          top: 5px;
          left: 9px;
          color: #777;
          font-size: 35px;
        }

        &:after {
          color: #777;
          font-size: 35px;
          bottom: -5px;
        }

        p {
          color: #777;
          font-family: "Montserrat", sans-serif;
          font-size: 1em;
          font-style: normal;
        }
      }

      .customer-card-author {
        margin-left: 30px;
        align-items: center;

        img {
          max-width: 55px;
        }

        p {
          margin-bottom: 0;
        }
        .customer-page-container {
          @include flexible-column-space-around;

          height: 70vh;
          .customer-header-text {
            align-self: flex-start;
            margin-left: 10%;
            width: 20%;
            color: $Purple-color;
            h2 {
              margin: 0;
              font-weight: 800;
            }
          }
          .customer-cards {
            @include flexible-row-center;
            width: 80%;
            cursor: pointer;
            overflow: hidden;
            .customer-card-box {
              box-shadow: 0px 0px 0px 1px rgb(199, 199, 199);
              border-radius: 5px;
              padding: 40px;
              margin: 10px;

              .customer-text {
                color: $White-color;
                font-size: 0.9rem;
              }
              .customer-profile-content {
                @include flexible-row-space-around;
                width: 30%;
                img {
                  width: 30%;
                  border-radius: 50%;
                }
                .customer-name {
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }
  }

  /* customer section end  */
}

/* footer section start */
.footer-container {
  @include flexible-column-center;
  background-color: $footer-bg-color;
  width: 100%;
  /* information section start*/
  .information-section {
    @include flexible-row-space-around;
    padding: 20px;
    .footer-logo {
      @include flexible-column-center;
      width: 20%;
      height: 40vh;
      img {
        width: 70%;
      }
    }
    .about {
      width: 20%;
      height: 40vh;
      color: white;
      p {
        font-size: 0.8rem;
        line-height: 1.4rem;
      }
      a {
        font-size: 2rem;
        color: $White-color;
      }
    }
    .links {
      width: 20%;
      height: 40vh;
      h2 {
        color: white;
      }
      ul {
        list-style-type: none;
        color: rgb(140, 140, 140);
        padding: 0;
        li {
          a {
            color: rgb(140, 140, 140);
            text-decoration: none;
            font-size: 0.8rem;
            line-height: 1.4rem;
            margin-left: 4px;
            transition: all 0.2s ease-in-out;
            &:hover {
              margin-left: 8px;
            }
          }
        }
      }
    }
    .contact {
      width: 20%;
      height: 40vh;
      h2 {
        color: white;
      }
      h4 {
        margin: 0;
        color: rgb(140, 140, 140);
      }
      p {
        color: white;
        font-size: 0.8rem;
        line-height: 1.4rem;
      }
      a {
        color: white;
        font-size: 0.8rem;
        line-height: 1.4rem;
        text-decoration: none;
      }
    }
  }
  /* information section end*/

  /* footer sponsor section start*/
  .footer-sponsor-container {
    @include flexible-row-space-around;
    border-bottom: 1px solid rgb(99, 99, 99);
    align-self: center;
    width: 77%;
    height: 35vh;
    overflow: hidden; /* bu bölümde animasyon yapılacak muhtemel js kullanılcak */
    a {
      img {
        border-radius: 7px;
      }
    }
  }

  .down-footer {
    @include flexible-row-space;
    width: 80%;
    padding: 5px;
    a {
      width: 15%;
      height: 10vh;
      img {
        width: 100%;
      }
    }
    .copyright {
      small {
        color: rgb(99, 99, 99);
      }
    }
   
  }

  /* footer sponsor section end*/
}
/* footer section end */

/* media query start */

/* mobile max-width 480px */

@media (max-width: 981px) {
  .navbar-container {
    display: flex !important;
    justify-content: space-between !important;
    padding: 10px !important;
    .media-nav-icon {
      display: flex !important;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: $Purple-color;
      border: 1px solid red;
      i {
        color: white;
        font-size: x-large;
      }
    }
    .nav-content-right {
      /* display: block !important;  burada bir sorun var sonra dön */ 
     
      background: #212529;
      position: absolute;
      top: 100px;
      width: 95% !important;
      padding: 20px;
      border: 1px solid red;
      .nav-link-header {
        display: inline-block;
        /* margin-left: 5px; */
        border-bottom: 1px solid $White-color;
        width: 90% !important;
        &:last-child {
          border-bottom: none;
        }
      }
      .drop-down {
        @include flexible-column-center;
        /* margin-left: 5px; */
        border-bottom: 1px solid $White-color;
        width: 90%;
        .media-drop {
          width: 100%;
          @include flexible-row-space;
          i {
            display: block !important;
            color: $White-color;
          }
        }
        /* .nav-drop{

        } */

        .drop-list {
          position: relative !important;
          width: 100%;
          li {
            background: none !important;
            &:active {
              background-color: $dropDownHoverBg !important;
            }
          }
        }
      }
    }
  }

  /* main section start */
  .main-container {
    .video-section {
      .video-text-container {
        text-align: center;
      }
    }

    .center-page {
      .center-page-box {
        flex-direction: column !important;
        .center-page-text {
          width: 100% !important;
          h2 {
            font-size: 1.2rem;
            font-weight: 600;
            color: $White-color;
          }
          p {
            font-size: 1rem;
            color: $White-color;
          }
        }
        .center-page-img {
          width: 100% !important;
          img {
            width: 100% !important;
          }
        }
      }

      .page-box-one {
        flex-direction: column-reverse !important;
      }
      .page-box-three {
        flex-direction: column-reverse !important;
      }
    }

    .sponsor-page-container {
      .sponsor-header {
        width: 100% !important;
        margin-left: 0% !important;
        margin-top: 40px ;
        h1 {
          font-size: 1.5rem;
        }
      }
      .sponsor-card-container {
        flex-direction: row !important;
        flex-wrap: wrap !important;
        width: 100% !important;
        height: auto !important;
        .sponsor-card {
          width: 44% !important;
          height: 45vh !important;
          margin-top: 50px !important;
        }
        .card-text {
          h3 {
            font-size: 0.8rem;
            padding: 5px;
          }
        }
      }
    }

    .news-page-container {
      .news-header-text {
        width: 100% !important;
        margin-left: 0px !important;
        padding-top: 40px !important;
        h2{
          font-size: 1.5rem;
        }
      }

      .news-card-container {
        flex-direction: column !important;
        .new-card {
          width: 100% !important;
          .news-card-text {
            text-align: center;
            padding: 20px;
          }
        }
      }
    }
  /* customer card bölümünü ayarla ve aykuta neden ayrı ayrı iki customer card author olduğunu sor */
  }
  /* main section start */
  /* footer seciton start */
  .footer-container {
    .information-section {
      flex-direction: column;
      .footer-logo {
        width: 100%;
        height: 20vh;
        img {
          width: 40%;
        }
      }

      .about {
        width: 100%;
        text-align: center;
        height: auto;
        h2{
          font-size: 1.2rem;
        }
      }
      .links {
        text-align: center;
        width: 100%;
        height: auto;
        h2{
          font-size: 1.2rem;
        }
      }
      .contact {
        text-align: center;
        width: 100%;
        height: auto;
        h2{
          font-size: 1.2rem;
        }
        h4{
          font-size: 1rem;
        }
      }

    }
    .footer-sponsor-container {
      border: 1px solid red;
      width: 80%;
      height: auto;
    }

    .down-footer {
      flex-direction: column;
      width: 100%;
      margin-top: 10px;
      a {
        width: 40%;
      }
      .copyright {
        margin-top: 10px;
      }
    
    }
  }
  /* footer seciton end */
}

/* media query end */
