@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html .text-color-primary,
html .text-primary {
  color: #312783;
}

.homepage-container {
  width: 100%;
  /* main section  start*/
  /* new page section end */
  /* customer section start  */
  /* customer section end  */
}

.homepage-container .navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
  position: fixed;
  font-weight: 600;
  z-index: 10;
  background: none;
  padding: 30px;
}

.homepage-container .navbar-container .nav-img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 20%;
}

.homepage-container .navbar-container .nav-img img {
  height: 6vh;
}

.homepage-container .navbar-container .nav-content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.homepage-container .navbar-container .nav-content-right a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8rem;
}

.homepage-container .navbar-container .nav-content-right a:hover {
  color: #777;
}

.homepage-container .navbar-container .nav-content-right .nav-link-header {
  padding: 10px;
}

.homepage-container .navbar-container .nav-content-right .drop-down {
  padding: 10px;
}

.homepage-container .navbar-container .nav-content-right .drop-down .media-drop i {
  display: none;
}

.homepage-container .navbar-container .nav-content-right .drop-down .drop-list {
  display: none;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  top: 70%;
}

.homepage-container .navbar-container .nav-content-right .drop-down .drop-list li {
  width: 100%;
  padding: 10px;
  border-bottom: 1px outset grey;
  background-color: #1e1e1e;
}

.homepage-container .navbar-container .nav-content-right .drop-down .drop-list li:last-child {
  border: none;
}

.homepage-container .navbar-container .nav-content-right .drop-down .drop-list li:hover {
  background-color: #282828;
  opacity: 0.9;
}

.homepage-container .navbar-container .nav-content-right .drop-down .drop-list li:hover a {
  cursor: pointer;
  color: white;
}

.homepage-container .navbar-container .nav-content-right .drop-down .drop-list li a {
  color: #777;
  width: 100%;
  text-decoration: none;
}

.homepage-container .navbar-container .nav-content-right .drop-one:hover .drop-list {
  display: block;
}

.homepage-container .navbar-container .nav-content-right .drop-two:hover .drop-list {
  display: block;
}

.homepage-container .navbar-container .nav-content-right .drop-three:hover .drop-list {
  display: block;
}

.homepage-container .main-container {
  /* Center page start */
  /* Center page end */
  /* sponsor section start */
  /* sponsor section end */
  /* new page section start */
}

.homepage-container .main-container .video-section {
  position: relative;
  width: 100%;
  height: 100vh;
}

.homepage-container .main-container .video-section .video-content {
  position: relative;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.homepage-container .main-container .video-section .video-filter {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: #1e1e1f;
  opacity: 0.7;
  z-index: 1;
}

.homepage-container .main-container .video-section .video-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 114vh;
  top: 0;
  color: white;
  z-index: 2;
}

.homepage-container .main-container .video-section .video-text-container .telconet-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18%;
  z-index: 5;
}

.homepage-container .main-container .video-section .video-text-container .topik-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 150px;
}

.homepage-container .main-container .video-section .video-text-container .topik-container .topik-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  position: relative;
  width: 25px;
  height: 40px;
  border-radius: 20px;
}

.homepage-container .main-container .video-section .video-text-container .topik-container .topik-content .topik-control {
  position: absolute;
  border: 1px solid white;
  width: 5px;
  height: 10px;
  border-radius: 20px;
  top: 5px;
  -webkit-animation: mouseMovie 2s infinite;
          animation: mouseMovie 2s infinite;
}

@-webkit-keyframes mouseMovie {
  from {
    top: 3px;
    opacity: 1;
  }
  to {
    top: 15px;
    opacity: 0.8;
  }
  to {
    top: 35px;
    opacity: 0;
  }
}

@keyframes mouseMovie {
  from {
    top: 3px;
    opacity: 1;
  }
  to {
    top: 15px;
    opacity: 0.8;
  }
  to {
    top: 35px;
    opacity: 0;
  }
}

.homepage-container .main-container .center-page .center-page-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eeeeee;
}

.homepage-container .main-container .center-page .center-page-box .center-page-text {
  width: 50%;
  padding: 20px;
}

.homepage-container .main-container .center-page .center-page-box .center-page-img {
  width: 50%;
}

.homepage-container .main-container .center-page .center-page-box .center-page-img img {
  width: 100%;
}

.homepage-container .main-container .sponsor-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.homepage-container .main-container .sponsor-page-container .sponsor-header {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 20%;
  margin-left: 10%;
  padding: 10px;
  color: #312783;
}

.homepage-container .main-container .sponsor-page-container .sponsor-header h1 {
  font-weight: 700;
  margin: 0;
}

.homepage-container .main-container .sponsor-page-container .sponsor-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 90vh;
  /* Animation Section */
}

.homepage-container .main-container .sponsor-page-container .sponsor-card-container .sponsor-card {
  border-radius: 10px;
  width: 20%;
  height: 55vh;
  text-align: center;
  border-bottom: 4px solid #312783;
  -webkit-box-shadow: 0px 0px 10px 1px #d8d8d8;
          box-shadow: 0px 0px 10px 1px #d8d8d8;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.homepage-container .main-container .sponsor-page-container .sponsor-card-container .sponsor-card .card-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage-container .main-container .sponsor-page-container .sponsor-card-container .sponsor-card .card-img img {
  width: 100%;
  height: 25vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.homepage-container .main-container .sponsor-page-container .sponsor-card-container .sponsor-card .card-text h3 {
  font-weight: 700;
  color: #312783;
}

.homepage-container .main-container .sponsor-page-container .sponsor-card-container .sponsor-card .card-text p {
  font-size: small;
  color: #777;
}

.homepage-container .main-container .sponsor-page-container .sponsor-card-container .sponsor-card .card-text a {
  font-weight: 700;
}

.homepage-container .main-container .sponsor-page-container .sponsor-card-container .card-one {
  /* @keyframes cardOne {
            10%{
              left: 50px;
            }
            100%{
              left: 300px;
          } */
}

.homepage-container .main-container .sponsor-page-container .sponsor-card-container .card-one .card-img {
  -webkit-animation: cardOne 4s linear infinite;
          animation: cardOne 4s linear infinite;
}

.homepage-container .main-container .news-page-container {
  background-color: #eeeeee;
}

.homepage-container .main-container .news-page-container .news-header-text {
  padding: 10px;
  width: 20%;
  margin-left: 10%;
  color: #312783;
}

.homepage-container .main-container .news-page-container .news-header-text h2 {
  margin: 0;
  font-weight: 800;
}

.homepage-container .main-container .news-page-container .news-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage-container .main-container .news-page-container .news-card-container .new-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  height: 75vh;
  margin: 20px;
  text-align: start;
  color: #777;
}

.homepage-container .main-container .news-page-container .news-card-container .new-card .news-card-img img {
  width: 100%;
}

.homepage-container .main-container .news-page-container .news-card-container .new-card .news-card-text {
  height: 50%;
}

.homepage-container .main-container .news-page-container .news-card-container .new-card .news-card-text h3 {
  color: #312783;
}

.homepage-container .customer-card {
  margin-bottom: 20px;
}

.homepage-container blockquote {
  border-left: 5px solid #eee;
  margin: 0 0 16px 0;
  margin: 0 0 1rem 0;
  padding: 8px 16px;
  padding: 0.5rem 1rem;
  font-size: 1em;
}

.homepage-container .customer-card blockquote {
  background: #ccc;
  border-radius: 5px;
  border: 0;
  color: #666;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 40px 64px 40px 72px;
  padding: 2.5rem 4rem 2.5rem 4.5rem;
  position: relative;
}

.homepage-container .customer-card blockquote:before {
  left: 22px;
  top: 21px;
  color: #fff;
  content: "“";
  font-size: 85px;
  font-style: normal;
  line-height: 1;
  position: absolute;
}

.homepage-container .customer-card blockquote p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
}

.homepage-container .customer-card .customer-card-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 12px 0 0 0;
}

.homepage-container .customer-card .customer-card-author img {
  max-width: 25px;
}

.homepage-container .customer-card .customer-card-author strong {
  color: #111;
  display: block;
  margin-bottom: 2px;
  font-size: 16px;
  font-size: 1rem;
}

.homepage-container .customer-card .customer-card-author span {
  color: #666;
  display: block;
  font-size: 12.8px;
  font-size: 0.8rem;
  font-weight: 600;
}

.homepage-container .customer-card .customer-card-author p {
  color: #999;
  text-align: left;
  line-height: 1.2;
  margin-left: 9.6px;
  margin-left: 0.6rem;
}

.homepage-container .customer-card.customer-card-style-4 {
  border-radius: 6px;
  padding: 8px;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
}

.homepage-container .customer-card.customer-card-style-4 blockquote {
  background: transparent !important;
  border-radius: 4px;
  padding: 12px 30px;
}

.homepage-container .customer-card.customer-card-style-4 blockquote:before {
  top: 5px;
  left: 9px;
  color: #777;
  font-size: 35px;
}

.homepage-container .customer-card.customer-card-style-4 blockquote:after {
  color: #777;
  font-size: 35px;
  bottom: -5px;
}

.homepage-container .customer-card.customer-card-style-4 blockquote p {
  color: #777;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-style: normal;
}

.homepage-container .customer-card.customer-card-style-4 .customer-card-author {
  margin-left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage-container .customer-card.customer-card-style-4 .customer-card-author img {
  max-width: 55px;
}

.homepage-container .customer-card.customer-card-style-4 .customer-card-author p {
  margin-bottom: 0;
}

.homepage-container .customer-card.customer-card-style-4 .customer-card-author .customer-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
}

.homepage-container .customer-card.customer-card-style-4 .customer-card-author .customer-page-container .customer-header-text {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 10%;
  width: 20%;
  color: #312783;
}

.homepage-container .customer-card.customer-card-style-4 .customer-card-author .customer-page-container .customer-header-text h2 {
  margin: 0;
  font-weight: 800;
}

.homepage-container .customer-card.customer-card-style-4 .customer-card-author .customer-page-container .customer-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  cursor: pointer;
  overflow: hidden;
}

.homepage-container .customer-card.customer-card-style-4 .customer-card-author .customer-page-container .customer-cards .customer-card-box {
  -webkit-box-shadow: 0px 0px 0px 1px #c7c7c7;
          box-shadow: 0px 0px 0px 1px #c7c7c7;
  border-radius: 5px;
  padding: 40px;
  margin: 10px;
}

.homepage-container .customer-card.customer-card-style-4 .customer-card-author .customer-page-container .customer-cards .customer-card-box .customer-text {
  color: #777;
  font-size: 0.9rem;
}

.homepage-container .customer-card.customer-card-style-4 .customer-card-author .customer-page-container .customer-cards .customer-card-box .customer-profile-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.homepage-container .customer-card.customer-card-style-4 .customer-card-author .customer-page-container .customer-cards .customer-card-box .customer-profile-content img {
  width: 30%;
  border-radius: 50%;
}

.homepage-container .customer-card.customer-card-style-4 .customer-card-author .customer-page-container .customer-cards .customer-card-box .customer-profile-content .customer-name {
  font-weight: 700;
}

/* footer section start */
.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333333;
  width: 100%;
  /* information section start*/
  /* information section end*/
  /* footer sponsor section start*/
  /* footer sponsor section end*/
}

.footer-container .information-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.footer-container .information-section .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  height: 40vh;
}

.footer-container .information-section .footer-logo img {
  width: 70%;
}

.footer-container .information-section .about {
  width: 20%;
  height: 40vh;
  color: white;
}

.footer-container .information-section .about p {
  font-size: 0.8rem;
  line-height: 1.4rem;
}

.footer-container .information-section .about a {
  font-size: 2rem;
  color: #777;
}

.footer-container .information-section .links {
  width: 20%;
  height: 40vh;
}

.footer-container .information-section .links h2 {
  color: white;
}

.footer-container .information-section .links ul {
  list-style-type: none;
  color: #8c8c8c;
  padding: 0;
}

.footer-container .information-section .links ul li a {
  color: #8c8c8c;
  text-decoration: none;
  font-size: 0.8rem;
  line-height: 1.4rem;
  margin-left: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.footer-container .information-section .links ul li a:hover {
  margin-left: 8px;
}

.footer-container .information-section .contact {
  width: 20%;
  height: 40vh;
}

.footer-container .information-section .contact h2 {
  color: white;
}

.footer-container .information-section .contact h4 {
  margin: 0;
  color: #8c8c8c;
}

.footer-container .information-section .contact p {
  color: white;
  font-size: 0.8rem;
  line-height: 1.4rem;
}

.footer-container .information-section .contact a {
  color: white;
  font-size: 0.8rem;
  line-height: 1.4rem;
  text-decoration: none;
}

.footer-container .footer-sponsor-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #636363;
  -ms-flex-item-align: center;
      align-self: center;
  width: 77%;
  height: 35vh;
  overflow: hidden;
  /* bu bölümde animasyon yapılacak muhtemel js kullanılcak */
}

.footer-container .footer-sponsor-container a img {
  border-radius: 7px;
}

.footer-container .down-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  padding: 5px;
}

.footer-container .down-footer a {
  width: 15%;
  height: 10vh;
}

.footer-container .down-footer a img {
  width: 100%;
}

.footer-container .down-footer .copyright small {
  color: #636363;
}

.footer-container .down-footer .made-by {
  color: #8c8c8c;
  width: 22%;
}

.footer-container .down-footer .made-by p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.footer-container .down-footer .made-by p i {
  -webkit-animation: iconsize 1s linear infinite;
          animation: iconsize 1s linear infinite;
  color: red;
}

@-webkit-keyframes iconsize {
  /* burayı hallet */
  0% {
    font-size: large;
  }
  50% {
    font-size: medium;
  }
}

@keyframes iconsize {
  /* burayı hallet */
  0% {
    font-size: large;
  }
  50% {
    font-size: medium;
  }
}

.footer-container .down-footer .made-by p a {
  color: #8c8c8c;
  text-decoration: none;
  font-size: 0.8rem;
  width: 50%;
}

/* footer section end */
/* media query start */
/* mobile max-width 480px */
@media (max-width: 981px) {
  .navbar-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    padding: 10px !important;
  }
  .navbar-container .media-nav-icon {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40px;
    height: 40px;
    background-color: #312783;
    border: 1px solid red;
  }
  .navbar-container .media-nav-icon i {
    color: white;
    font-size: x-large;
  }
  .navbar-container .nav-content-right {
    /* display: block !important;  burada bir sorun var sonra dön */
    background: #212529;
    position: absolute;
    top: 100px;
    width: 95% !important;
    padding: 20px;
    border: 1px solid red;
  }
  .navbar-container .nav-content-right .nav-link-header {
    display: inline-block;
    /* margin-left: 5px; */
    border-bottom: 1px solid #777;
    width: 90% !important;
  }
  .navbar-container .nav-content-right .nav-link-header:last-child {
    border-bottom: none;
  }
  .navbar-container .nav-content-right .drop-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* margin-left: 5px; */
    border-bottom: 1px solid #777;
    width: 90%;
    /* .nav-drop{

        } */
  }
  .navbar-container .nav-content-right .drop-down .media-drop {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-container .nav-content-right .drop-down .media-drop i {
    display: block !important;
    color: #777;
  }
  .navbar-container .nav-content-right .drop-down .drop-list {
    position: relative !important;
    width: 100%;
  }
  .navbar-container .nav-content-right .drop-down .drop-list li {
    background: none !important;
  }
  .navbar-container .nav-content-right .drop-down .drop-list li:active {
    background-color: #282828 !important;
  }
  /* main section start */
  .main-container {
    /* customer card bölümünü ayarla ve aykuta neden ayrı ayrı iki customer card author olduğunu sor */
  }
  .main-container .video-section .video-text-container {
    text-align: center;
  }
  .main-container .center-page .center-page-box {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .main-container .center-page .center-page-box .center-page-text {
    width: 100% !important;
  }
  .main-container .center-page .center-page-box .center-page-text h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #777;
  }
  .main-container .center-page .center-page-box .center-page-text p {
    font-size: 1rem;
    color: #777;
  }
  .main-container .center-page .center-page-box .center-page-img {
    width: 100% !important;
  }
  .main-container .center-page .center-page-box .center-page-img img {
    width: 100% !important;
  }
  .main-container .center-page .page-box-one {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  .main-container .center-page .page-box-three {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  .main-container .sponsor-page-container .sponsor-header {
    width: 100% !important;
    margin-left: 0% !important;
    margin-top: 40px;
  }
  .main-container .sponsor-page-container .sponsor-header h1 {
    font-size: 1.5rem;
  }
  .main-container .sponsor-page-container .sponsor-card-container {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    width: 100% !important;
    height: auto !important;
  }
  .main-container .sponsor-page-container .sponsor-card-container .sponsor-card {
    width: 44% !important;
    height: 45vh !important;
    margin-top: 50px !important;
  }
  .main-container .sponsor-page-container .sponsor-card-container .card-text h3 {
    font-size: 0.8rem;
    padding: 5px;
  }
  .main-container .news-page-container .news-header-text {
    width: 100% !important;
    margin-left: 0px !important;
    padding-top: 40px !important;
  }
  .main-container .news-page-container .news-header-text h2 {
    font-size: 1.5rem;
  }
  .main-container .news-page-container .news-card-container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .main-container .news-page-container .news-card-container .new-card {
    width: 100% !important;
  }
  .main-container .news-page-container .news-card-container .new-card .news-card-text {
    text-align: center;
    padding: 20px;
  }
  /* main section start */
  /* footer seciton start */
  .footer-container .information-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-container .information-section .footer-logo {
    width: 100%;
    height: 20vh;
  }
  .footer-container .information-section .footer-logo img {
    width: 40%;
  }
  .footer-container .information-section .about {
    width: 100%;
    text-align: center;
    height: auto;
  }
  .footer-container .information-section .about h2 {
    font-size: 1.2rem;
  }
  .footer-container .information-section .links {
    text-align: center;
    width: 100%;
    height: auto;
  }
  .footer-container .information-section .links h2 {
    font-size: 1.2rem;
  }
  .footer-container .information-section .contact {
    text-align: center;
    width: 100%;
    height: auto;
  }
  .footer-container .information-section .contact h2 {
    font-size: 1.2rem;
  }
  .footer-container .information-section .contact h4 {
    font-size: 1rem;
  }
  .footer-container .footer-sponsor-container {
    border: 1px solid red;
    width: 80%;
    height: auto;
  }
  .footer-container .footer-sponsor-container a img {
    width: 40%;
    border: 1px solid red;
  }
  .footer-container .down-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }
  .footer-container .down-footer a {
    width: 40%;
  }
  .footer-container .down-footer .copyright {
    margin-top: 10px;
  }
  .footer-container .down-footer .made-by {
    margin-top: 10px;
    text-align: center;
    width: 50%;
  }
  /* footer seciton end */
}

/* media query end */
/*# sourceMappingURL=main.css.map */