
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
aside {
  padding-left: .5rem;
  margin-left: .5rem;
  float: right;
}

.main-header {
  margin: 0 0 35px 0;
  padding: 30px 0;
  position: relative;
  text-align: left;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
@-webkit-keyframes ul-arrow-animation {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-0.4em);
  }
}
@keyframes ul-arrow-animation {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-0.4em);
  }
}

body {
  background-color: #FFF;
  color: #777;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 26px;
  margin: 0;

}

body .yk-container {
  width: 100%;
}

body .yk-container .navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
  position: fixed;
  font-weight: 600;
  z-index: 10;
  background: none;
  padding: 30px;
}

body .yk-container .navbar-container .nav-img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 20%;
}

body .yk-container .navbar-container .nav-img img {
  height: 6vh;
}

body .yk-container .navbar-container .nav-content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

body .yk-container .navbar-container .nav-content-right a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8rem;
}

body .yk-container .navbar-container .nav-content-right a:hover {
  color: #777;
}

body .yk-container .navbar-container .nav-content-right .nav-link-header {
  padding: 10px;
}

body .yk-container .navbar-container .nav-content-right .drop-down {
  padding: 10px;
}

body .yk-container .navbar-container .nav-content-right .drop-down .drop-list {
  display: none;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  top: 70%;
}

body .yk-container .navbar-container .nav-content-right .drop-down .drop-list li {
  width: 100%;
  padding: 10px;
  border-bottom: 1px outset grey;
  background-color: #1e1e1e;
}

body .yk-container .navbar-container .nav-content-right .drop-down .drop-list li:last-child {
  border: none;
}

body .yk-container .navbar-container .nav-content-right .drop-down .drop-list li:hover {
  background-color: #282828;
  opacity: 0.9;
}

body .yk-container .navbar-container .nav-content-right .drop-down .drop-list li:hover a {
  cursor: pointer;
  color: white;
}

body .yk-container .navbar-container .nav-content-right .drop-down .drop-list li a {
  color: #777;
  width: 100%;
  text-decoration: none;
}

body .yk-container .navbar-container .nav-content-right .drop-one:hover .drop-list {
  display: block;
}

body .yk-container .navbar-container .nav-content-right .drop-two:hover .drop-list {
  display: block;
}

body .yk-container .navbar-container .nav-content-right .drop-three:hover .drop-list {
  display: block;
}

aside ul.nav-list > li > a {
  color: #666;
  font-size: .9em;
  padding: 8px 0px 8px 22px;
}

.page-header {
  margin: 0 0 35px 0;
  padding: 30px 0;
  position: relative;
  text-align: left;
}

.page-header h1 {
  color: #fff;
  display: inline-block;
  font-size: 30px;
  line-height: 1;
  margin: 0;
  padding: 0;
  font-weight: 400;
  position: relative;
  top: 1px;
}

.nav > li > a:hover, .nav > li > a:focus {
  background: transparent;
}

/*--------  Nav List -------- */
ul.nav-list li {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}

ul.nav-list li a {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  padding: 8px 0 8px 22px;
  display: block;
  color: #666;
  font-size: .9em;
  text-decoration: none;
  line-height: 20px;
}

ul.nav-list li a i {
  position: relative;
  top: -1px;
  font-size: 8px;
  font-size: 0.5rem;
  opacity: 0.8;
  right: 8px;
}

ul.nav-list li a:hover {
  text-decoration: none;
}

ul.nav-list li a:hover i[class*="fa-chevron"] {
  -webkit-animation: ul-arrow-animation 0.25s infinite alternate ease-in-out;
          animation: ul-arrow-animation 0.25s infinite alternate ease-in-out;
}

ul.nav-list li > a.active {
  font-weight: bold;
}

ul.nav-list li ul {
  list-style: none;
  margin: 0 0 0 25px;
  padding: 0;
}

ul.nav-list li:last-child a {
  border-bottom: 0;
}

ul.nav-list.hide-not-active li ul {
  display: none;
}

ul.nav-list.hide-not-active li.active ul {
  display: block;
}

ul.nav-list.show-bg-active .active > a,
ul.nav-list.show-bg-active a.active {
  background-color: #f5f5f5;
}

ul.nav-list.show-bg-active .active > a:hover,
ul.nav-list.show-bg-active a.active:hover {
  background-color: #eee;
}

ul.nav-list.no-arrows li a:before {
  content: none;
}

ul.nav-list-simple li {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}

ul.nav-list-simple li a {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  padding: 8px 0;
  display: block;
  color: #666;
  font-size: 0.9em;
  text-decoration: none;
  line-height: 20px;
  -webkit-transition: ease padding 300ms;
  transition: ease padding 300ms;
}

ul.nav-list-simple li > a.active {
  font-weight: bold;
}

ul.nav-list-simple li:hover a {
  padding-left: 4px;
}

ul.nav-list-simple li ul {
  list-style: none;
  margin: 0 0 0 25px;
  padding: 0;
}

ul.narrow li a {
  padding: 4px 0;
}

ul.nav-pills > li > a.active {
  color: #FFF;
  background-color: #CCC;
}

ul.nav-pills > li > a.active:hover, ul.nav-pills > li > a.active:focus {
  color: #FFF;
  background-color: #CCC;
}

/*--------  PageHeader-Background -------- */
.background {
  background-size: cover;
  padding: 150px 0px;
}

/*--------  Overlays -------- */
.overlay {
  position: relative;
  /* Backward */
}

.overlay .container {
  position: relative;
  z-index: 3;
  width: 100%;
}

.overlay:before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: #212529;
  opacity: 0.8;
  pointer-events: none;
  -webkit-transition: ease opacity 300ms 100ms;
  transition: ease opacity 300ms 100ms;
}

/*-------- Breadcrumb -------- */
.breadcrumbs {
  background: transparent;
  display: block;
  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: .8em;
}

.breadcrumbs li.active a {
  opacity: 0.7;
}

.breadcrumbs li a {
  color: #fff;
  position: relative;
  margin: 10px;
  text-decoration: none;
}

.breadcrumbs i {
  color: #fff;
}
/*# sourceMappingURL=yapisal_kablolama.css.map */