<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="İletişim - Telconet - Teknolojiyi Bizimle Yakalayın">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../style/iletisim.css">
    <link rel="stylesheet preload" href="https://telconet.demoadresi.com/content/themes/telconet/dist/vendor/fontawesome-free/css/all.min.css" order="103">
    <title>İletişim - Telconet - Teknolojiyi Bizimle Yakalayın</title>
</head>

<body>
    <div class="yk-container">
        <!-- Main Header start -->
        <header>
            <nav class="navbar-container">
                <div class="nav-img">
                    <img src="../image/navbar-logo.svg" alt="#" />
                </div>
                <div class="nav-content-right">
                    <a class="nav-link-header" href="index.html">ANASAYFA</a>
                        <div class="drop-down drop-one">
                            <a class="nav-drop" href="#">ÇÖZÜMLER</a>
                            <ul class="drop-list">
                                <li><a href="">Yapısal Kablolama</a></li>
                                <li><a href="">IP Telefon Altyapı</a></li>
                                <li><a href="">Çağrı Merkezi Altyapı</a></li>
                                <li><a href="">Lan/Wan Altyapı</a></li>
                                <li><a href="">Kablosuz Ağlar</a></li>
                                <li><a href="">Sunucu ve Veri Depolama</a></li>
                            </ul>
                        </div>
                    <div class="drop-down drop-two">
                        <a class="nav-drop  href=" #">İŞ ORTAKLARI</a>
                        <ul class="drop-list">
                            <li><a href="">Kablolu Kablosuz Ağ Çözümleri</a></li>
                            <li><a href="">PBX & Çağrı Merkezi Çözümleri</a></li>
                            <li><a href="">Yapısal Kablolama & Güvenlik Çözümleri</a></li>
                            <li><a href="">Sunucu & Veri Depolama Çözümleri</a></li>
                        </ul>
                    </div>                    
                    <div class="drop-down drop-three">
                        <a class="nav-drop " href="#">KURUMSAL</a>
                        <ul class="drop-list">
                            <li><a href="">Hakkımızda</a></li>
                            <li><a href="">Misyon & Vizyon</a></li>
                            <li><a href="">İnsan Kaynakları</a></li>
                        </ul>
                    </div>
                    <a class="nav-link-header" href="">REFERANSLAR</a>
                    <a class="nav-link-header" href="">İLETİŞİM</a>
                </div>
            </nav>
        </header>
        <!-- header-end -->
        
        <!-- Page Header Start -->
        <main>
            <section class="page-header background overlay" style="background-image: url('/image/iletisim.jpg'); background-size: cover; padding:150px;">
                <div class="container">
                    <div class="row mt-5">
                        <div class="col-md-12 align-self-center">
                            <ul class="breadcrumbs d-block text-center">
                                <li><a href="/index.html"><lang>Anasayfa</lang></a></li>
                                
                                <li class="active"><a>İletişim</a><i class="fa-solid fa-chevron-right"></i></li>
                            </ul>
                        </div>
                        <div class="col-md-12 align-self-center text-center">
                            <h1>İLETİŞİM</h1>
                        </div>

                    </div>
                </div>
            </section>
        <!-- Page Header End -->
        <!-- Page Content Start -->
            <section class="content">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-12 col-md-9 col-lg-9 mb-3">
                            <h5 class="font-weight-bold mb-0 text-uppercase" style="font-size: 1.3em;">İLETİŞİM</h5>
                        </div>
                    </div>
                </div>
        <!-- İletişim Formu  -->
            <div class="col-lg-6 mb-3">
                <h4 class="ana-renk">İletişim Formu</h4>
                <form action="#" class="contact-form" method="POST">
                    <div class="form-row">
                        <div class="form-group col-lg-6 col-12">
                            <label>Ad Soyad</label>
                            <input type="text" value="" class="form-control" name="Name" id="name" data-validate-required="min" data-validate-len="5">
                        </div>
                        <div class="form-group col-lg-6 col-12">
                            <label>E-Posta</label>
                            <input type="email" value="" class="form-control" name="EMail" id="email" data-validate-required="email">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label>Telefon</label>
                            <input type="tel" value="" class="form-control mPNinit" name="Phone" data-validate-required="min" data-validate-len="5">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label>Mesajınız</label>
                            <textarea maxlength="5000" rows="4" class="form-control" name="Message" id="message" data-validate-required="min" data-validate-len="10"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-12">
                        </div>
                        <div class="form-group col-lg-8">
                            <div class="mb-1">
                                <input type="hidden" value="">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 text-right">
                            <button type="submit" class="btn btn-success">Gönder</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- adres kısmı -->
            <div class="col-lg-6 mb-3">
                <div>
                    <h5>İstanbul Ofis</h5>
                    <ul class="list list-icons list-icons-style-2 mt-2">
                        <li><i class="fas fa-map-marker-alt top-6"></i> 
                            <strong>Adres:</strong> Şerifali Mah. Alptekin Cad. Merit Plaza No:65 İstanbul
                        </li>
                        
                        <li>
                            <i class="fas fa-phone top-6"></i> 
                            <strong>Telefon:</strong> <a href="tel:0216 522 9894">0216 522 9894</a>
                        </li>
                        
                        <li>
                            <i class="fas fa-phone top-6"></i> 
                            <strong>Faks:</strong> <a href="tel:0216 522 9805">0216 522 9805</a>
                        </li>
                        
                        <li>
                            <i class="fas fa-envelope top-6"></i> 
                            <strong>E-Posta:</strong> <a href="mailto:info@telconet.com.tr">info@telconet.com.tr</a></li>
                    </ul>
        
                    <h5 class="mt-5">Ankara Ofis</h5>
                    <ul class="list list-icons list-icons-style-2 mt-2">
                        <li>
                            <i class="fas fa-map-marker-alt top-6"></i> 
                            <strong>Adres:</strong> Bayraktar Mah. İkizdere Sok. No:25/3 G.O.P. - Çankaya ANKARA</lang>
                        </li>
                        <li>
                            <i class="fas fa-phone top-6"></i> 
                            <strong>Telefon:</strong> <a href="tel:0312 473 7770">0312 473 7770</lang></a>
                        </li>
                        <li>
                            <i class="fas fa-phone top-6"></i> 
                            <strong>Faks:</strong> 0312 473 7470</lang>
                        </li>
                    </ul>
                </div>
        
                <div class="mt-3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d976.3121136045802!2d29.15182990632073!3d40.99553199724588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x1ce3e9bbbb219f62!2sMerit+Plaza!5e0!3m2!1sen!2str!4v1460120902460" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
            </div>
            <!-- </footer> -->
        </main>
    </div>
<!-- scripts -->
    <script src="../js/app.js"></script>

</body>

</html>