<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/kablolu_kablosuz_ag_cozumleri.css">
    <link rel="shortcut icon" href="#">
    <title>Kablolu Kablosuz Ağ Çözümleri</title>
</head>
<body>
    <!-- navbar start-->
    <nav></nav>
    <!-- navbar end -->
    <main>
    <article>
        <h1>KABLOSUZ AĞ ÇÖZÜMLERİ</h1>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, reiciendis nihil. Architecto fuga laudantium magnam velit quaerat amet, in delectus excepturi dolorum quasi eos ea dolor beatae ad numquam tempora? Ipsa natus architecto quas mollitia voluptate laboriosam laudantium alias, placeat sapiente incidunt, fugit reiciendis consequatur, aliquid est dolores porro delectus.</h3>
        <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae ut quam nobis porro recusandae consectetur. Reiciendis in, eaque non illum distinctio aliquam. Unde dolorem ea provident exercitationem neque adipisci dignissimos explicabo obcaecati id, facere reiciendis rem ipsum aperiam error, itaque harum similique commodi. Accusamus a ducimus officia corporis sunt. Placeat.</h3>

    <section>
        <img src="/image/logo-aruba.jpg" alt="logo-aruba">
        <img src="/image/logo-ruckus.jpg" alt="logo-ruckus">
        <img src="/image/logo-alcatel-lucent.jpg" alt="logo-alcatel-lucent">
    </section>
    </article>
    <aside>
        <h1>NAVİGASYON</h1>
        <ul>
            <li>Kablolu Kablosuz Ağ Çözümleri</li>
            <li>PBX & Çağrı Merkezi Çözümleri</li>
            <li>Yapısal Kablolama & Güvenlik çözümleri</li>
            <li>Sunucu & Veri Depolama Çözümleri</li>
        </ul>
    </aside>
    </main>
    <!-- footer start -->
    <footer></footer>
    <!-- footer end  -->
</body>
</html>