<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="LAN / WAN Altyapı - Telconet - Teknolojiyi Bizimle Yakalayın">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
        <link rel="stylesheet" href="../style/yapisal_kablolama.css">
    <title>LAN / WAN Altyapı - Telconet - Teknolojiyi Bizimle Yakalayın</title>
</head>

<body>
    <div class="yk-container">
        <!-- Main Header start -->
        <header>
          <nav class="navbar-container">
              <div class="nav-img">
                  <img src="../image/navbar-logo.svg" alt="#" />
              </div>
              <div class="nav-content-right">
                  <a class="nav-link-header" href="../index.html">ANASAYFA</a>
                  <div class="drop-down drop-one">
                      <a class="nav-drop" href="#">ÇÖZÜMLER</a>
                      <ul class="drop-list">
                          <li><a href="../views/yapisal_kablolama.html">Yapısal Kablolama</a></li>
                          <li><a href="../views/ip_telefon_alt_yapi.html">IP Telefon Altyapı</a></li>
                          <li><a href="../views/cagri_merkezi_alt_yapi.html">Çağrı Merkezi Altyapı</a></li>
                          <li><a href="../views/lan_wan_alt_yapi.html">Lan/Wan Altyapı</a></li>
                          <li><a href="../views/kablosuz_aglar.html">Kablosuz Ağlar</a></li>
                          <li><a href="../views/sunucu_ve_veri_depolama.html">Sunucu ve Veri Depolama</a></li>
                      </ul>
                  </div>
                  <div class="drop-down drop-two">
                      <a class="nav-drop"  href="#">İŞ ORTAKLARI</a>
                      <ul class="drop-list">
                          <li><a href="../views/kablolu_kablosuz_ag_cozumleri.html">Kablolu Kablosuz Ağ Çözümleri</a></li>
                          <li><a href="../views/pbx_ve_cagri_merkezi_cozumleri.html">PBX & Çağrı Merkezi Çözümleri</a></li>
                          <li><a href="../views/yapisal_kablolama_ve_guvenlik_cozumleri.html">Yapısal Kablolama & Güvenlik Çözümleri</a></li>
                          <li><a href="../views/sunucu_ve_veri_depolama_cozumleri.html">Sunucu & Veri Depolama Çözümleri</a></li>
                      </ul>
                  </div>
                  <div class="drop-down drop-three">
                      <a class="nav-drop " href="#">KURUMSAL</a>
                      <ul class="drop-list">
                          <li><a href="../views/hakkimizda.html">Hakkımızda</a></li>
                          <li><a href="../views/misyon_ve_vizyon.html">Misyon & Vizyon</a></li>
                          <li><a href="../views/insan_kaynaklari.html">İnsan Kaynakları</a></li>
                      </ul>
                  </div>
                  <a class="nav-link-header" href="../views/referans.html">REFERANSLAR</a>
                  <a class="nav-link-header" href="../views/iletisim.html">İLETİŞİM</a>
              </div>
          </nav>
      </header>
        <!-- Main Header end -->
        <main>
            <!-- Page Header Start -->
            <section class="page-header background overlay" style="background-image: url('../image/404.svg');">
                <div class="container">
                    <div class="row mt-5">
                        <div class="col-md-12 align-self-center">
                            <ul class="breadcrumbs d-block text-center">
                                <li><a href="../index.html">
                                        <lang>Anasayfa</lang>
                                    </a>
                                </li>
                                <li class="active"><i class="fa-solid fa-chevron-right"></i><a>LAN / WAN Altyapı</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12 align-self-center text-center">
                            <h1>LAN / WAN Altyapı</h1>
                        </div>

                    </div>
                </div>
            </section>
            <!-- Page Header End -->
            <!-- Page Content Start -->
            <section class="content">
                <div class="container py-5">
                    <div class="row">
                        <div  class="col-12 col-md-9 col-lg-9 mb-3">
                            <h1 class="font-weight-bold text-uppercase h1-text">LAN / WAN Altyapı
                            </h1>
                        </div>
                        <!-- Side Navbar Start -->
                        <div class="col-12 col-md-3 col-lg-3 mb-3 sidebar">
                            <aside>
                                <div>
                                    <h5 class="font-weight-bold text-uppercase pt-3">
                                        <a>Navigasyon</a>
                                    </h5>
                                    <ul class="nav nav-list flex-column mb-5">
                                        <li><a class="" href="../views/yapisal_kablolama.html"
                                            title="Yapısal Kablolama">
                                            <i class="fa-solid fa-chevron-right"></i>Yapısal Kablolama</a></li>
                                    <li><a class="" href="../views/ip_telefon_alt_yapi.html"
                                            title="IP Telefon Altyapı">
                                            <i class="fa-solid fa-chevron-right"></i>IP Telefon Altyapı</a></li>
                                    <li><a class="" href="../views/cagri_merkezi_alt_yapi.html"
                                            title="Çağrı Merkezi Altyapı">
                                            <i class="fa-solid fa-chevron-right"></i>Çağrı Merkezi Altyapı</a></li>
                                    <li><a class="active" href="../views/lan_wan_alt_yapi.html" title="LAN / WAN Altyapı">
                                            <i class="fa-solid fa-chevron-right"></i>LAN / WAN Altyapı</a></li>
                                    <li><a class="" href="../views/kablosuz_aglar.html" title="Kablosuz Ağlar">
                                            <i class="fa-solid fa-chevron-right"></i>Kablosuz Ağlar</a></li>
                                    <li><a class="" href="../views/sunucu_ve_veri_depolama.html"
                                            title="Sunucu ve Veri Depolama">
                                            <i class="fa-solid fa-chevron-right"></i>Sunucu ve Veri Depolama</a>
                                    </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                    </div>
                    <!-- Side Navbar End -->
                </div>
            </section>
            <!-- Page Content End -->
            <!-- Footer Start -->
            <footer class="footer-container">
              <div class="information-section">
                <div class="footer-logo">
                  <img src="../image/navbar-logo.svg" alt="#" />
                </div>
                <div class="about">
                  <h2>Hakkımızda</h2>
                  <p>
                    Merit Grup bünyesinde 2011 yılında kurulmuş olan Telconet, yer
                    aldığı tüm projelerde uçtan uca çözüm oluşturmayı hedeflemektedir.
                    Alanında lider firmalar ile geliştirdiği iş birliktelikleri ile
                    rakiplerinden ayrışmaktadır.
                  </p>
                  <a href="https://www.linkedin.com/company/merit-iletisim/"><i class="fa-brands fa-linkedin"></i></a>
                </div>
      
                <div class="links">
                  <h2>Bağlantılar</h2>
                  <ul>
                      <li><i class="fa-solid fa-angle-right"></i><a href="../views/yapisal_kablolama.html">Yapısal Kablolama</a></li>
                      <li><i class="fa-solid fa-angle-right"></i><a href="../views/ip_telefon_alt_yapi.html">IP Telefon Altyapı</a></li>
                      <li><i class="fa-solid fa-angle-right"></i><a href="../views/cagri_merkezi_alt_yapi.html">Çağrı Merkezi Altyapı</a></li>
                      <li><i class="fa-solid fa-angle-right"></i><a href="../views/lan_wan_alt_yapi.html">LAN/WAN Altyapı</a></li>
                      <li><i class="fa-solid fa-angle-right"></i><a href="../views/kablosuz_aglar.html">Kablosuz Ağlar</a></li>
                      <li><i class="fa-solid fa-angle-right"></i><a href="../views/sunucu_ve_veri_depolama.html">Sunucu ve Veri Depolama</a></li>
                  </ul>
                </div>
      
                <div class="contact">
                  <h2>Bize Ulaşın</h2>
                  <h4>ADRES</h4>
                  <p>Şerifali Mah. Alptekin Cad. Merit Plaza No:65 İstanbul</p>
                  <h4>TELEFON</h4>
                  <p>0216 522 9894</p>
                  <h4>E-POSTA</h4>
                  <a href="#">info@telconet.com.tr</a>
                </div>
              </div>
      
            
               
           
      
              <div class="footer-sponsor-container">
                <div id="footer-carousel"  class="owl-carousel owl-theme">
                  <a href="https://www.merittelekom.com/"><img src="image/logo-merit.jpg" alt="merit"></a>
                  <a href="https://www.merlinyazilim.com.tr/"><img src="image/logo-merlinyazilim.jpg" alt="merlin"></a>
                  <a href="https://www.avasis.com.tr/"><img src="image/logo-avasis.jpg" alt="avasis"></a>
                  <a href="https://www.agrimilk.com/"><img src="image/logo-agrimilk.jpg" alt="agrimilk"></a>
                  <a href="https://www.dva.com.tr/"><img src="image/logo-dva.jpg" alt="dva"></a>
                  <a href="http://www.telconet.com.tr/"><img src="image/logo-telconet.jpg" alt="telconet"></a>
                  <a href="https://www.3-d.com.tr/"><img src="image/logo-3dbilisim.jpg" alt="3dbilisim"></a>
                  <a href="https://www.mosttek.com/"><img src="image/logo-most.jpg" alt="most"></a>
                </div>
              </div>
      
              
      
              <div class="down-footer">
                  <a href="https://www.meritgrup.com/"><img src="../image/merit-grup-white.png" alt="#"></a>
                  <div class="copyright">
                  <small>© 2022 Tüm hakları saklıdır.</small>
                </div>
              </div>
      
            </footer>
              <!-- Footer End -->
        </main>
    </div>
    <!-- scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="../js/app.js"></script>

</body>

</html>