<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../style/yapisal_kablolama.css">
    <title>Yapisal Kablolama</title>
</head>

<body>
    <header>
        <nav></nav>
    </header>
    <main class="main-container">
        <section class="main-header main-header-modern main-header-background overlay overlay-show overlay-op-8" :before
            style="background-image: url('/image/main-1.jpg');">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-md-12 align-self-center p-static order-2 text-center">
                        <h1>Yapısal Kablolama</h1>
                    </div>
                    <div class="col-md-12 align-self-center order-1">
                        <ul class="breadcrumbs d-block text-center">
                            <li><a href="/index.html">
                                    <lang data-i18n="[html]anasayfa">Anasayfa</lang>
                                </a>
                            </li>
                            <i class="fa-solid fa-chevron-right"></i>
                            <li class="active"><a>Yapısal Kablolama</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
            <section>
                <div class="container py-5">
                    <div class="row">
                        <div class="col-12 col-md-9 col-lg-9 mb-3">
                            <h1 class="font-weight-bold text-3 mb-0 text-uppercase">Yapısal Kablolama</h1>
                        </div>
                    </div>
                    <aside class="sidenav">
                        <h5 class="font-weight-bold pt-3">
                            <lang data-i18n="[html]navigasyon">Navigasyon</lang>
                        </h5>
                        <ul class="nav nav-list flex-column mb-5">
                            <li><a data-i18n="[html]page-43;[title]page-43" class="active" href="/views/yapisal_kablolama.html"
                                    title="Yapısal Kablolama"><i class="fa-solid fa-chevron-right"></i>Yapısal
                                    Kablolama</a></li>
                            <li><a data-i18n="[html]page-44;[title]page-44" class="" href="/views/ip_telefon_alt_yapi.html"
                                    title="IP Telefon Altyapı">IP Telefon
                                    Altyapı</a></li>
                            <li><a data-i18n="[html]page-45;[title]page-45" class="" href="/views/cagri-merkezi-altyapi.html"
                                    title="Çağrı Merkezi Altyapı">Çağrı
                                    Merkezi Altyapı</a></li>
                            <li><a data-i18n="[html]page-46;[title]page-46" class="" href="/views/lan-wan-altyapi.html"
                                    title="LAN / WAN Altyapı">LAN / WAN
                                    Altyapı</a></li>
                            <li><a data-i18n="[html]page-47;[title]page-47" class="" href="/views/kablosuz-aglar.html"
                                    title="Kablosuz Ağlar">Kablosuz Ağlar</a>
                            </li>
                            <li><a data-i18n="[html]page-48;[title]page-48" class="" href="/views/sunucu-ve-veri-depolama.html"
                                    title="Sunucu ve Veri Depolama">Sunucu ve Veri Depolama</a></li>
                        </ul>
                    </aside>
                </div>
                
            </section>

    </main>
    <footer></footer>
</body>

</html>